version: '3.8'

networks:
  kharj-mysql-network:
    external: true

services:
  app:
    container_name: kharj-app
    build: ../
    restart: always
    volumes:
      - ../front:/usr/src/app/dist/public/front
      - ../uploads:/usr/src/app/uploads
    ports:
      - '3005:3005'
    env_file:
      - .env
    depends_on:
      - mysql
    networks:
      - kharj-mysql-network

  mysql:
    container_name: kharj-mysql
    build: ./mysql
    restart: always
    volumes:
      - ./mysql/container-data/data:/var/lib/mysql
      - ./mysql/container-data/conf/mysqld.conf:/etc/mysql/mysql.conf.d/mysqld.cnf
    ports:
      - '3307:3306'
    networks:
      - kharj-mysql-network
    env_file:
      - .env
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_PASSWORD}
      - TZ=Asia/Tehran
    command:
      - --default-authentication-plugin=mysql_native_password

  metabase:
    container_name: kharj-metabase
    image: metabase/metabase:v0.54.18.x
    restart: always
    ports:
      - '3004:3000'
    networks:
      - kharj-mysql-network
    volumes:
      - ./metabase/container-data/dev/urandom:/dev/random:ro
    depends_on:
      - mysql
    env_file:
      - .env
    environment:
      - MB_DB_TYPE=mysql
      - MB_DB_DBNAME=${MYSQL_DATABASE}
      - MB_DB_PORT=${MYSQL_PORT}
      - MB_DB_USER=${METABASE_DB_USERNAME}
      - MB_DB_PASS=${METABASE_DB_PASSWORD}
      - MB_DB_HOST=${MYSQL_HOST}

  phpmyadmin:
    container_name: kharj-phpmyadmin
    image: phpmyadmin:5.1-apache
    restart: always
    ports:
      - '8083:80'
    networks:
      - kharj-mysql-network
    depends_on:
      - mysql
    env_file:
      - .env
    environment:
      - PMA_HOST=${MYSQL_HOST}
