name: Deploy Kharj

on:
  push:
    branches: ['main']

jobs:
  build:
    uses: ./main.yml

  deploy:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Execute remote SSH commands using password
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          password: ${{ secrets.SERVER_PASSWORD }}
          port: ${{ secrets.SERVER_PORT }}
          script: |
            cd refKharj/
            git checkout main
            git pull origin main

            cd docker/

            docker-compose up app phpmyadmin metabase -d

            docker exec -i kharj-app npx --prefix /usr/src/app sequelize-cli db:migrate
